@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

//font family
$main-font: 'Alata', sans-serif;

//font colors
$white-text: #FFFFFF;
$blue-text: #779BE7;
$orange-text: #D66A1A;

//background colors
$white-background: #FFFFFF;
$light-blue-background: #AAC5FF;
$light-blue-background-o: #AAC5FF16;
$green-background: #59F0AE;
$grey-background: #F7F7F7;
$blue-background: #779BE7;
$dark-blue-background: #16264A;
$orange-background: #FFC96F;

//border color
$blue-border: #A8C9FF;
$grey-border: #707070;
$light-border: #B1B1B1;
$dark-blue-boarder: #779BE7;

//Page width
$desktop-width: 1600px;
$big-tablet-width: 1024px;
$tablet-width: 768px;
$mobile-width: 640px;
$small-mobile-width: 375px;
