@import '../../assets/styles/variables';
@import '../../assets/styles/media';

.button-plus {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: none;
    border: 3px solid $dark-blue-boarder;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include phone {
        width: 35px;
        height: 35px;
    }
    
    span {
        text-align: center;
        color: $blue-text;
        font-size: 4em;
        position: absolute;
        bottom: -45%;

        @include phone {
            font-size: 3em;
            bottom: -38%;
        }
    } 
}